{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <style>
        tab1 { padding-left: 4em; }
    </style>
    <h1>Tune your model</h1>
    In order to build a good predictive model, you have to tune your model.
    <br>
    <br>
    You've chosen <b>RANDOM FOREST</b> model.
    <br>
    <h3>Tune parameters</h3>
    <div>
        <div class="row">
            <div class="col-md-4">
                {{ wtf.quick_form(form) }}
            </div>
        </div>
    </div>
    <br>
{% endblock %}