{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
<style>
    img {max-width: 90%;}
</style>
    <h1>Data analysis</h1>
    <hr>
    <div>
        <div class="row">
            <div class="col-md-4">
                {{ wtf.quick_form(form) }}
            </div>
        </div>
    </div>
<br>
    {% if is_file %}
        <center><img src="{{ url }}"></center>
    {% endif %}
<br>
    <div>
        <div class="row">
            <div class="col-md-4">
                {{ wtf.quick_form(form2) }}
            </div>
        </div>
    </div>
{% endblock %}
