{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <h1>Data analysis</h1>

    <hr>
    <div>
        <div class="row">
            <div class="col-md-4">
                {{ wtf.quick_form(form) }}
            </div>
        </div>
    </div>
<br>
    {% if is_file %}
        <img src="{{ url }}">
    {% endif %}
<br>
    <div>
        <div class="row">
            <div class="col-md-4">
                {{ wtf.quick_form(form2) }}
            </div>
        </div>
    </div>
{% endblock %}
