{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <h1>Data creation</h1>
    The first step is to <b>create data</b> - the snooker data.
    <br><br>
    The data will be fetched from <a href="https://cuetracker.net/">Cue Tracker</a> website.
    It contains snooker data (matches, tournaments, centuries etc.) for ca. 100 players.
    <br><br>
    Below you can choose from when you want to fetch data.
    <br><br>
    <b>Remember: the bigger is the size of seasons set,
    the longer the data will be fetched.</b>
    <br>
    <h3>Choose the timeframe</h3>
    <div>
        <div class="row">
            <div class="col-md-4">
                {{ wtf.quick_form(form) }}
            </div>
        </div>
    </div>
    <br>
{% endblock %}